<h3>Here are all the tasks @Model["category"].GetName():</h3>
<ol>
@foreach (var task in @Model["tasks"])
{
  <li>@task.GetDescription() @task.GetDueDate() <a href="/tasks/@task.GetId()/edit">Edit</a> | <a href="/tasks/@task.GetId()/delete">Delete</a></li>
}
</ol>
<p><a href='/categories/@Model["category"].GetId()/tasks/new'>Add a new task</a></p>
<p><a href='/'>Return to Main Page</a></p>
