
@{
  Layout = "_Layout";
}

<h1>Add a new task to @Model.GetName()</h1>
<form action='/categories/@Model.GetId()/tasklist' method='post'>

  <label for='task-description'>Task description</label>
  <input id='task-description' name='task-description' type='text'>
  <label for='dueDate'></label>
  Due Date: <input id='dueDate' name='dueDate' type='date'>
  <button type='submit'>Add task</button>

</form>

<a href="/categories/@Model.GetId()/tasklist">View Task List</a><br>
<a href="/">HomePage</a>
